<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Home page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>03.01.2022</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi architecto aspernatur consectetur delectus deleniti dolorem dolorum esse ex explicabo fugiat, hic impedit in labore laborum modi nulla omnis quisquam quo recusandae saepe sapiente similique sit tempora tempore totam vel vitae. Deleniti, maxime nobis repellendus totam vel voluptatem! Aperiam, perspiciatis?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi architecto aspernatur consectetur delectus deleniti dolorem dolorum esse ex explicabo fugiat, hic impedit in labore laborum modi nulla omnis quisquam quo recusandae saepe sapiente similique sit tempora tempore totam vel vitae. Deleniti, maxime nobis repellendus totam vel voluptatem! Aperiam, perspiciatis?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi architecto aspernatur consectetur delectus deleniti dolorem dolorum esse ex explicabo fugiat, hic impedit in labore laborum modi nulla omnis quisquam quo recusandae saepe sapiente similique sit tempora tempore totam vel vitae. Deleniti, maxime nobis repellendus totam vel voluptatem! Aperiam, perspiciatis?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi architecto aspernatur consectetur delectus deleniti dolorem dolorum esse ex explicabo fugiat, hic impedit in labore laborum modi nulla omnis quisquam quo recusandae saepe sapiente similique sit tempora tempore totam vel vitae. Deleniti, maxime nobis repellendus totam vel voluptatem! Aperiam, perspiciatis?</p>
  </div>
</div>
